<div class="footer">
        <ul class="nav pull-right">
          <li id="nav-home">
            <a href="http://swc-osg-workshop.github.io/2014-12-15-UChicago/index.html"><h4> Home </h4> </a>
          <li id="nav-setup">
            <a href="http://swc-osg-workshop.github.io/2014-12-15-UChicago/setup.html"> <h4> Setup </h4> </a>
          </li>
          <li id="nav-lessons">
            <a href="http://swc-osg-workshop.github.io/2014-12-15-UChicago/contents.html"> <h4> Lessons </h4> </a>
          </li>
          <li id="nav-syllabus">
            <a href="http://swc-osg-workshop.github.io/2014-12-15-UChicago/syllabus.html"> <h4> Syllabus </h4> </a>
          </li>

          <li id="nav-Contacts">
            <a href="http://swc-osg-workshop.github.io/2014-12-15-UChicago/contacts.html"> <h4> Contacts </h4> </a>
          </li>
        </ul>
</div>

